<html>
    <head>
        <title>Tako Koin</title>
    </head>

    <body>
        <div>
            <h1>Tako Koin&trade;</h1>
            <h2>What is Tako Koin&trade;?</h2>
        </div>
    </body>
</html>