body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

img.img1{
    width: 50px;
    height: 50px;
}

img.profile_picture{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#login-btn{
    padding: 35px 50px 25px 100px;
}

#title_homepage {
    font-family: "Stay Wildy Personal Use Only";
    font-szie: 70px;
}


