@model RequestModel

<!DOCTYPE html>

<html>
<head>
    <title>Request Failed</title>
</head>
<body>
<div>
    <center>
        <h1 class="text-danger">Request Failed</h1>
        <p class="text-danger">Something went wrong processing your request, please contact an admin.</p>
    </center>
</div>
</body>
</html>