@model RequestModel

<html>
    <head>
        <title>Insufficient Snacks</title>
    </head>

    <body>
        <div>
            <center>
                <h1 class="text-danger">Request Failed</h1>
                <p class="text-danger">You have tried to request more snack than I have available.</p>
            </center>
        </div>
    </body>
</html>