@{
    ViewData["Title"] = "Snackr";
    Layout = "_Layout";
}

<h2>
    What is Snackr? 
</h2>
<p>
        Snackr is a in-house snack tracking system developed by David Ko at Gene by Gene.
        Snackr is one of many projects founded by the Ko Foundation&trade;.
</p>

<br/>

<h2>
    How does Snackr work?
</h2>
<p>
    Snackr keeps a count and of what snacks are available at my desk's personal stash. 
    Click on the inventory tab to see what is available.
</p>

<br/>

<h2>
    How do I get a snack from the stash?
</h2>
<p>
    In order to get a snack from the Snackr stash, go to the request tab and make a request. 
    Requests can only be made by users in the Gene by Gene user group. Snackr uses OAuth to verify this.
    Requests from the Snackr stash are powered by Tako Koin&trade;. 1 Tako Koin&trade; gets you 1 snack.
</p>

<br/>

<h2>
    What is Tako Koin&trade;? 
</h2>
<p>
    Tako Koin is a digital currency backed by the Ko Foundation&trade;. It is (soon to be) a fork of Dogecoin.
    ICO will be very soon. Tako Koin&trade; is developed by Dr Prof David Ko.
</p>

<br/>

<h2>
    How does one get Tako Koins&trade;?
</h2>
<p>
        Tako Koins&trade; wil be distributed when Snackr launches. 
        Each person in the engineering department will be given 3 Tako Koins&trade;.
        There will be a limited supply at any given time. 
        How one chooses to use their Tako Koin&trade; is up to them.
        Currently the only monetary value is contains is based on the supply and demand of the Snackr stash.
</p>