<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Snackr</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-left"><img class="img1" src="~/images/snackr_logo.png"></a>
      </div>
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Snackr" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a></li>
        <li><a asp-area="" asp-controller="Request" asp-action="Index">Request</a></li>
        <li><a asp-area="" asp-controller="TakoKoin" asp-action="Index">Tako Koin</a></li>
        <li><a asp-area="" asp-controller="User" asp-action="Index">User</a></li>
    </ul>
  </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2018 - Snackr - Developed at Gene By Gene - Ko Foundation&trade; - Powered by Tako Koin&trade;</p>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
